/*
Font colors used:
Black-purple: #433237;
Mulberry: #8e2c48;
Grey:#a5a0a1;
Light grey: #ded9da;

Background colors:
Grey-pink: #f3eaec;
White-pink: #fffcfd;
*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #433237;
  line-height: 1.5em;
}

h1 {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2pt;
  padding: 0 10px;
}

h2 {
  font-family: 'Amiko', sans-serif;
  text-transform: uppercase;
  color: #bd8c8c;
  font-size: 2em;
  font-weight: 600;
  line-height: 1.5em;
}

h3 {
  font-size: 1.2em;
  font-weight: 600;
}

h4 {
  font-family: 'Amiko', sans-serif;
  color: #a5a0a1;
}

h5 {
  font-size: 2em;
  font-weight: 600;
  line-height: 1.5em;
  margin: 20px 0;
}


h5 {

}

figcaption {
  font-style: italic;
}

img {
  width: 100%;
}

/* links */
a {
  color: #c2025b;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #c2025b;
}

a:hover,
a:focus {
  color: #c2025b;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #80013c;
}

.button,
.button:visited {
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Amiko', sans-serif;
  color: #ffffff;
  /* needed to override the default link color */
  background-color: #c2025b;
  font-weight: 400;
  padding: 14px 18px;
  border-radius: 3px;
  border-bottom: 2px solid #6e0033;
  /* width of the border, type, color */
  transition: 0.5s background-color;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #6e0033;
  text-decoration: none;
  color: #ffffff;
  /*  opacity: 0.8; */
}

.swot-summary {
  /*
  display: inline-block;
  width: 40%;
  */
}

/* Footer */
footer {
  background-color: #f1dede;
  padding: 50px 15px;
  margin-top: 50px;
}

#contact {}

#social-media {
  display: inline-block;
  width: 100%;
}

.icon,
.icon:visited {
  fill: #4c333f;
  padding: 5px;
  transition: 0.5s fill;
}

.icon:hover,
.icon:focus,
.icon:active {
  fill: #9d8d95;
  text-decoration: none;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#work {
  padding-top: 40px;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #ded9da;
}

main {
  padding-top: 150px;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

/* Header and navbar styling */
header {
  background-color: #f1dede;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: fixed;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(80, 68, 92, 0.36);
  -moz-box-shadow: 0px 4px 5px 0px rgba(80, 68, 92, 0.36);
  box-shadow: 0px 4px 5px 0px rgba(80, 68, 92, 0.36);
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4c333f;
  font-family: 'Amiko', sans-serif;
}

nav a:visited {
  color: #4c333f;
}

nav a:hover,
nav a:focus,
nav a:active {
  color: #9d8d95;
  text-decoration: none;
}

.logo,
.logo:visited {
  fill: #4c333f;
  max-width: 100px;
  transition: 0.5s fill;
}

.logo:hover,
.logo:focus,
.logo:active {
  fill: #9d8d95;
}

/* Hero styling */
#hero {
  background-color: #fcf2f2;
  display: inline-block;
  width: 100%;
  height: 60%;
  padding: 50px 10px;
  padding-top: 80px;
}

#hero span {
  display: block;
}

/*About*/
#about-page main {
  padding-top: 230px;
}

#about-page img {
  padding: 0 10px;
}

/*Knitcase*/
.title {
  padding-top: 240px;
  padding-bottom: 40px;
  text-align: center;
}

#knitcase h2 {
  color: #8e2c48;
  padding-top: 30px;
}


#knitcase h1 {
  padding: 0
}

#knitcase .container {
  padding: 0 25px;
}

.testing img {
  padding: 10px 0;
}

#odd-image-testing {
  margin-bottom: -20px;
}

#gif-flows figcaption {
  padding-bottom: 20px;
}

#android-link {
  margin: 0 20px;
}

#android img {
  padding: 10px 0;
}

/* Keyframes animation */


@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* Media queries
  ==============================
  Medium devices (640px and larger)
  ================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    padding-top: 99px;
  }

  body {
    font-size: 1.125em;
  }

  #hero {
  padding: 80px 0;
  padding-top: 100px;
}

  .col-md-6 {
    width: 50%;
  }

  .col-4 {
    width: 33%;
  }

  #gif-flows {
    display: block;
    padding: 40px 0;
  }

    #gif-flows figcaption {
  font-size: 0.8em;
  text-align: center;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .skills-and-tools {
    display: inline-block;
  }

  #about-page h3 {
    margin-top: 0;
  }

  #about-page main {
    padding-top: 160px;
  }

  #about-page img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .title {
    padding-top: 160px;
    padding-bottom: 40px;
  }


}

/* ==============================
  Large devices (1024px or larger)
  ================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58%;
  }

  .col-lg-5 {
    width: 42%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #about-page footer h1 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #knitcase img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  #why-knitting {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0;
  }

  #why-knitting img {
    width: 100%;
  }

  #competitor img {
  width: 70%;
  margin-left: -17px;
  }

  #mid-fi img {
  width: 80%;
  padding: 20px 0;
  }

  .testing img {
    padding: 2em 0;
  }

  #odd-image-testing {
    margin-bottom: -2em;
  }

  #final-screens img {
    width: 100%;
  }

}

/* ==============================
  X-large devices (1440px or larger)
  ================================= */
@media only screen and (min-width: 1440px) {
  .col-xl-8 {
    width: 67%;
  }

  .col-xl-4 {
    width: 33%;
  }
}
